## PRO TIP : Test your modifications locally with:
## gitlab-ci-multi-runner exec docker {name_of_the_job}

variables:
  ARTIFACTS: '*'

image:
  # should be latest-ubuntu but
  #https://github.com/dinolupo/pandoc-md/issues/1#issuecomment-3586755187
  name: pandoc/extra:3.7-ubuntu #latest-ubuntu
  entrypoint: [""] # we need to override the image entrypoint

pandoc:
  stage: build
  script:
    - apt update && apt install make
    - make pdf
  artifacts:
    paths:
      - '*/*'

pages:
  stage: deploy
  script:
    - mkdir public
    - rsync -Rr . public
  artifacts:
    paths:
      - public
  only:
    - master
