name: Build the markdown source files                                            
                                                                                 
on: [ push, workflow_dispatch ]                                                                         
                                                                                 
jobs:                                                                            
  build:                                                                         
    runs-on: 3.7-ubuntu
    container:
      image: pandoc/extra:3.7-ubuntu
      options: --user root  -e "HOME=/root"                                                 
    steps:                                                                       
      - uses: actions/checkout@v4                                
      - run: |
          apt update && apt install make
          make pdf
      - uses: actions/upload-artifact@v4
        with: 
          path: .
